
	body{
		background:#f8f9fa url('../resource/1.jpg')no-repeat left top;
		}
	ul{
		list-style-type:none;
		margin:0;
		padding:0;
		position:absolute;
		left:0px;
		top:225px
		}
	a:link,a:visited{
		display:block;
		font-weight:regular;
		color:#cccccc;
		background-color:#ffffff;
		width:182px;
		text-align:center;
		padding:12px;
		text-decoration:none;
		font-size: 15px;
		font-family: "Microsoft YaHei UI";
		letter-spacing:0.75px;
		}
	a:focus{
		background-color:#47bde1;
	}
	a:hover,a:active{
		background-color:#47bde1;
		}
	a:hover {color:#4d4d4d;}
	.heading1 {
		color: #666666;
		font-size: 26px;
		font-family: "Microsoft YaHei UI";
		letter-spacing:0.75px;
		position:relative;
		left:247px;
		top:54px;
		}
	.heading2 {
		color: #999999;
		font-size:18px;
		font-family: "Microsoft YaHei UI";
		letter-spacing:0.75px;
        position:relative;
		left:33px;
		top:24px;
	}

	.section1{
		width: 660px;
		height: 480px;
		border-radius: 10px;
		background-color: #ffffff;
		position:relative;
		left:247px;
		top:146px;
		}

	.section2{
		width: 354px;
		height: 135px;
		border-radius: 10px;
		background-color: #ffffff;
		position:relative;
		left:945px;
		top:-334px;
		}

	.section3{
		width: 354px;
		height: 320px;
		border-radius: 10px;
		background-color: #ffffff;
		position:relative;
		left:945px;
		top:-310px;
		}